.main {
    &.who-we-are-page {
        min-height: 100vh;
        padding-top: 130px;
        padding-bottom: 70px;
        color: #fff;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7600e6+0,38006e+100 */
        background: rgb(118, 0, 230);
        /* Old browsers */
        background: -moz-linear-gradient( 45deg, rgba(118, 0, 230, 1) 0%, rgba(56, 0, 110, 1) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient( 45deg, rgba(118, 0, 230, 1) 0%, rgba(56, 0, 110, 1) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient( 45deg, rgba(118, 0, 230, 1) 0%, rgba(56, 0, 110, 1) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        h1 {
            font-size: 80px;
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 50px;
            color: #fff;
        }
        p {
            font-size: 24px;
            line-height: 40px;
            font-weight: 400;
        }
        .who-we-are-img {
            position: relative;
            top: -50px;
        }
        .team-members {
            margin-bottom: 150px;
            .member {
                height: 100%;
                margin-bottom: 30px;
                border-radius: 20px;
                background: rgba(0, 0, 0, 0.1);
                transition: all 300ms;
                padding: 30px 10px;
                &:hover {
                    background: rgba(0, 0, 0, 0.2);
                    transform: scale(1.05);
                    box-shadow: 0px 20px 50px rgba(255, 255, 255, 0.2);
                }
                .member-avatar {
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    overflow: hidden;
                    position: relative;
                    margin: 20px auto;
                    img {
                        width: 100%;
                    }
                }
                h3 {
                    font-weight: 400;
                    font-size: 20px;
                }
                h6 {
                    font-weight: 300;
                    font-size: 14px;
                    text-transform: uppercase;
                }
            }
        }
    }
}