.home-section1 {
  padding-top:100px;
  text-align: center;
  color: #fff;
  background: url("../assets/Image 7@2x.jpg") no-repeat;
  background-size: cover;
  height: 60vw;

  &:after {
    bottom: -13vh;
  }

  .title {
    font-size: 110px;
    font-weight: normal;
    font-family: $bree;
    margin-bottom: 30px;
  }
  .description {
    font-size:24px;
    line-height: 40px;
    margin-bottom: 25px;
  }
  .btn {
    padding: 25px 60px;
    font-size: 20px;
    opacity: 0.8;
  }
}
.home-section2 {
  position: relative;
  padding-bottom: 300px;

  .section-image {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 70%;
    z-index: -1;
  }

  .content {
    font-size: 20px;
    line-height: 34px;
  }
  .btn-primary{
    font-size: 20px;
    padding:20px 75px;
    font-weight: normal;
    margin-top: 30px;
  }
}
.home-section3 {
  padding-top: 50px;

  .title-type1 {
    margin-bottom: 20px;
    
  }
  .content {
    background: #fff;
    padding: 100px 60px;
    box-shadow: 0 3px 30px -6px rgba(0, 0, 0, 0.1);
    border-radius: 35px;

    .owl-carousel {
      padding: 0 130px;

      .owl-item {
        text-align: center;
        .item-img {
          width: 150px;
          height: 150px;
          background: #000;
          padding: 35px;
          border-radius: 300px;
          display: inline-block;
          margin-bottom: 40px;

          img {
            max-width: 100%;
          }
        }
        .item-title {
          font-weight: normal;
          font-size: 28px;
          margin-bottom: 20px;
          font-weight: 600;
        }
        .item-desc {
          font-size: 18px;
          line-height:38px;
        }
      }
      .owl-dots {
        margin-top: 20px;
      }
    }
  }
}
.home-section4 {
  padding: 100px 0 50px;
.btn-primary{
  font-size: 20px;
  padding:20px 75px;
  font-weight: normal;
  margin-top: 30px;
}
  .content {
    p {
      font-size: 20px;
      line-height: 38px;
    }
  }
  
}
.home-section5 {
  padding: 100px 0;
  .item {
    padding: 150px 0 0;
    position: relative;

    .item-img {
      max-width: 100%;
      top: -80px;
      position: relative;
    }
    .item-title {
      margin-bottom: 15px;
      font-size: 24px;
      font-weight: 600;
    }
    .item-desc {
      font-size:20px;
      line-height: 37px;
    }

    &.item-bg-gray-light {
      background: rgba(0, 0, 0, 0.02);
    }
    svg.top {
      position: absolute;
      top: 0;
      width: 100%;
      height: 10vw;
      /* set height to pixels if you want angle to change with screen width */
    }
  }
}
